#version=RHEL8
# Use graphical install
graphical

repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream

%packages
@^server-product-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=enp0s3 --gateway=192.168.0.1 --ip=192.168.0.23 --nameserver=8.8.8.8 --netmask=255.255.255.0 --onboot=off --noipv6 --no-activate
network  --hostname=r8.example.com

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=sda
autopart
# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone America/Vancouver --isUtc --nontp

# Root password
rootpw --iscrypted $6$ejHUkJARIuzBIIbk$Ro88moBEiECtID1oliqqiza79jekWL8AvMWYVRRHIeFoLH7Lb4C.SWp7WvYfKmXweJag.DBFn8fExmv0oeyhE/

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
